.highlight-header {
    background-color: ;
    line-height: 60%;
    left: 0px;
    width: 100%;
    color: white;
    content: '';
}

.letterY {
    color: rgb(34, 34, 34);
    font-weight: 600;
}

